div {
  background-color: green;
  color: red;
  font-size: 1.375rem;
}
div p {
  color: yellow;
}
div p span {
  color: purple;
}
div div {
  font-size: 3.125rem;
}
p {
  color: deeppink;
}
#box > p {
  background-color: black;
}
