/*
mixin 
公共css代码块

*/
/*
将公共样式写在.box 这个class 
需要的时候调用就可以了
这是无参的mixin 
*/
.box {
  margin: 10px;
  padding: 10px;
  border: 1px;
}
header {
  margin: 10px;
  padding: 10px;
  border: 1px;
  font-size: 20px;
}
section {
  margin: 10px;
  padding: 10px;
  border: 1px;
  font-size: 30px;
}
footer {
  margin: 10px;
  padding: 10px;
  border: 1px;
  font-size: 40px;
}
